@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
    color: white;
    padding: 0;
    margin: 0;
    background: url("/img/sky.png");
    font-family: 'Press Start 2P', cursive;
}

.invader{
    background-image: url("/img/invader1.png");
    transform: rotate(180deg);
    image-rendering: pixelated;
    background-size: cover;
    width: 3rem;
    height: 3rem;
}

.movable{
    position: absolute;
    left: 100px;
}

.bullet{
    background-image: url("/img/bullet.png");
    image-rendering: pixelated;
    background-size: contain;
    background-repeat: no-repeat;
    width: 1.5rem;
    height: 1rem;

    position: absolute;
    left: 100px;
    top: 90vh;
}

#player{
    background-image: url("/img/igrac.png");
    image-rendering: pixelated;
    background-size: contain;
    width: 3rem;
    height: 3rem;
    position: absolute;
    left: 200px;
    top: 80vh;
}

#gameField{
    height: 100vh;
    aspect-ratio: 4/3;
}

.flex{
    display: flex;
}

.center-x{
    justify-content: center;
}

.center-y{
    align-items: center;
}

.hud{
    position: absolute;
    left:0;
    top: 0;
    padding: 1rem;
}

.full-screen{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

a{
    color: green;
}

a:visited{
    color: green;
}

a:hover{
    filter: brightness(180%);
}

a:active{
    filter: brightness(130%);
}

.banner{
    background-size: cover;
}

.dead-banner{
    background-image: url("/img/dead.png");
}

.start-banner{
    background-image: url("/img/dead.png");
}

.m-b-1{
    margin-bottom: 1rem;
}